* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.head {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
    margin-top: 5px;

}

.nav {
    display: flex;
    gap: 30px;
}

.link {
    text-decoration: none;
    color: #2B1D17;
    background-color: rgb(242, 241, 237);
    border-radius: 75px;
    cursor: pointer;
    transition:all  0.3s ease;

}

.link:hover {
    background-color: black;
    color: white;
}